.title{
    width: 100%;
}

.download{
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: green;
    color: azure;
    width: 250px;
    height: 50px;
}