.title{
    align-items: center;
    width: 650px;
    justify-content: center;
    background-color: grey;
}

.download{
    font-family: "Nova Square";
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: green;
    color: azure;
    width: 250px;
    height: 50px;
}
.navigation{
    font-family: "Nova Square";
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: green;
    color: azure;
    width: 100px;
    height: 25px;
}