*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


nav{
    display: flex;
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    margin: auto;
}

.logo{
    display: flex;
    padding: 1%;
    border: 20px;
    height: 70px ;
}

.nav-link{
    cursor: pointer;
    font-family: Nova Square;
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-around;
    align-items: flex-end;
    background: lightgreen;
    height: 25px;
    text-decoration: none;
}

.download{
    font-size: 25px;
    display: flex;
    border: none;
    color: aliceblue;
    font-weight: bold;
    background-color: rgb(55, 105, 66);
    width: 194px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    cursor: pointer;
    transition: .15s;

}
.download:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
}
.others{
    background-color: rgb(162, 221, 160);
    width: 80%;
    margin-left: 10%;
}
.othersContent{
    display: flex;
    vertical-align: top;
}
.otehrsImage{
    width: 300px;
    margin-right: 10px;
    margin-top: 10px;
    ;
}
.othersText{
    font-family: Noto Sans;
    display: flex;
    width: 40%;
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    
}